<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteBase /
	RewriteRule ^index?$ index.php [NC,L]
	RewriteRule ^contact?$ contact.php [NC,L]
	RewriteRule ^about?$ about_squad.php [NC,L]
	RewriteRule ^entry?$ entry.php [NC,L]
	RewriteRule ^gallery?$ gallery.php [NC,L]
	RewriteRule ^structure?$ structure.php [NC,L]
</IfModule>
